*,
*::before,
*::after {
  box-sizing: border-box;
  font: inherit;
}

:root {
  font-family: Arial, Helvetica, sans-serif;
  --bg-color: #000;
  --bg-color-secondary: #222;
  --bg-color-hover: #333;
  --bg-color-footer: #555;
  --color: #fff;
  --color-dim: #888;
  --padding: 16px;
  --nav-height: 4rem;
  --footer-height: 1.5rem;
  --sidebar-width: 25ch;
}

.footer {
  height: var(--footer-height);
  background-color: var(--bg-color-footer);
}

::-webkit-scrollbar,
::-webkit-scrollbar-corner {
  background-color: transparent;
}

::-webkit-scrollbar-thumb {
  background-color: color-mix(in srgb, var(--color) 50%, transparent);
}

body {
  margin: 0;

  background-color: var(--bg-color);
}

header {
  height: var(--nav-height);
  background-color: var(--bg-color-secondary);
  color: var(--color);
  padding: calc(var(--padding) / 2);
  display: flex;
  justify-content: space-between;
  position: relative;
  z-index: 10;

  & button {
    height: 100%;
    padding: calc(var(--padding) / 2);
    background: none;
    border: none;
    color: inherit;
    cursor: pointer;

    &:hover,
    &:focus-visible {
      background: var(--bg-color-hover);
    }
  }

  & svg {
    height: 100%;
    stroke: var(--color);
    stroke-width: 1;
    stroke-linecap: round;
    fill: none;

    > * {
      transform-origin: center;
      transition: transform 0.2s ease-in-out;
    }
  }
}

#menu-button[aria-expanded='true'] {
  & .top {
    transform: translate(0, -4px);
  }
  & .middle-1 {
    transform: rotate(45deg);
  }
  & .middle-2 {
    transform: rotate(-45deg);
  }
  & .bottom {
    transform: translate(0, 4px);
  }
}

main {
  margin: var(--padding);
  height: calc(100dvh - var(--nav-height) - var(--padding) * 2);
  width: calc(100vw - var(--padding) * 2);
  display: flex;
}

.menu-sidebar {
  width: var(--sidebar-width);
  padding: var(--padding);
  position: absolute;
  z-index: 1;
  transition: translate 0.2s ease-in-out;

  background-color: color-mix(in srgb, var(--bg-color-footer) 30%, transparent);
  backdrop-filter: blur(0.5em);
  color: var(--color);

  &[aria-hidden='true'] {
    translate: 0 -100%;
  }

  & button {
    width: 100%;
    padding: calc(var(--padding) / 2);
    background: none;
    border: 1px solid transparent;
    color: var(--color);
    text-align: left;
    cursor: pointer;
    transition: border 0.1s ease-in-out, background-color 0.1s ease-in-out;

    &:hover,
    &:focus-visible {
      background-color: color-mix(in srgb, var(--bg-color-footer) 40%, transparent);
      border-color: transparent transparent var(--color);
    }
  }
}

.editor-tab {
  width: 70%;
  min-width: 20ch;
  height: 100%;
  font: normal 1.25rem/1.25 monospace;
}

.editor-container {
  height: calc(100% - var(--footer-height));
  overflow-y: scroll;
  overflow-x: auto;

  scroll-padding: var(--padding);

  background-color: var(--bg-color-secondary);
}

.editor {
  padding: var(--padding);
  padding-left: 0;
  min-width: fit-content;
  display: flex;
  gap: var(--padding);

  &::-moz-selection {
    background-color: #777;
  }
  &::selection {
    background-color: #777;
  }
}

.editor-padding {
  height: calc(100% - var(--padding) - 1.5rem);
  cursor: text;
}

.line-numbers {
  flex: 0 0 auto;
  width: 5ch;
  position: sticky;
  left: 0;

  background-color: var(--bg-color-secondary);
  color: var(--color-dim);

  > div {
    width: fit-content;
    margin-inline-start: auto;
    margin-inline-end: 0;
  }
}

#editor {
  flex: 1 0 auto;
  margin: 0;
  padding: 0;
  resize: none;
  border: none;
  outline: none;
  background: none;

  color: var(--color);
}

.editor-footer {
  display: flex;
  justify-content: flex-end;
  align-items: center;
}

#ln-col-info {
  color: var(--color);
  padding-inline: var(--padding);
  font-size: 0.75em;
}

.resizer {
  width: var(--padding);
  min-width: var(--padding);
  cursor: ew-resize;
  display: grid;
  place-items: center;

  & svg {
    stroke: var(--color);
    stroke-width: 1;
    stroke-linecap: round;
  }
}

.preview {
  --bg-color: #fff;
  width: 30%;
  min-width: 20ch;

  overflow-y: scroll;
}

.preview .slide {
  background-color: var(--bg-color);
  margin-bottom: var(--padding);
  padding-inline: var(--padding);
  overflow-x: auto;
  aspect-ratio: var(--preview-aspect-ratio, 16 / 9);
}

.preview .title-slide {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  text-align: center;
}

@media (width < 600px) {
  .editor-tab {
    min-width: 100%;
  }

  .resizer {
    cursor: default;
  }

  .resizer svg {
    display: none;
  }
}

@media (prefers-reduced-motion: reduce) {
  header svg > * {
    transition: none;
  }
  .menu-sidebar {
    transition: none;
  }
}

.preview * {
  all: revert;
}
