*,
*::before,
*::after {
  box-sizing: border-box;
  font: inherit;
}

:root {
  font-family: Arial, Helvetica, sans-serif;
  --bg-color: #000;
  --bg-color-secondary: #222;
  --bg-color-hover: #333;
  --bg-color-footer: #555;
  --color: #fff;
  --color-dim: #888;
  --padding: 16px;
  --nav-height: 4rem;
  --footer-height: 1.5rem;
}

.footer {
  height: var(--footer-height);
  background-color: var(--bg-color-footer);
}

::-webkit-scrollbar,
::-webkit-scrollbar-corner {
  background-color: transparent;
}

::-webkit-scrollbar-thumb {
  background: #fff7;
}

body {
  margin: 0;

  background-color: var(--bg-color);
}

header {
  height: var(--nav-height);
  background-color: var(--bg-color-secondary);
  color: var(--color);
  padding: calc(var(--padding) / 2);
  display: flex;
  justify-content: flex-end;

  & button {
    height: 100%;
    padding: calc(var(--padding) / 2);
    background: none;
    border: none;
    color: inherit;
    cursor: pointer;

    &:hover {
      background: var(--bg-color-hover);
    }
  }

  & svg {
    height: 100%;
    stroke: var(--color);
    stroke-width: 1;
    stroke-linecap: round;
    fill: none;
  }
}

main {
  margin: var(--padding);
  height: calc(100dvh - var(--nav-height) - var(--padding) * 2);
  width: calc(100vw - var(--padding) * 2);
  display: flex;
}

.editor-tab {
  width: 70%;
  min-width: 20ch;
  height: 100%;
  font: normal 1.25rem/1.25 monospace;
}

.editor-container {
  height: calc(100% - var(--footer-height));
  overflow-y: scroll;
  overflow-x: auto;

  background-color: var(--bg-color-secondary);
}

.editor {
  padding: var(--padding);
  padding-left: 0;
  min-width: fit-content;
  display: flex;
  gap: var(--padding);

  &::-moz-selection {
    background-color: #777;
  }
  &::selection {
    background-color: #777;
  }
}

.editor-padding {
  height: calc(100% - var(--padding) - 1.5rem);
  cursor: text;
}

.line-numbers {
  flex: 0 0 auto;
  width: 5ch;
  position: sticky;
  left: 0;

  background-color: var(--bg-color-secondary);
  color: var(--color-dim);

  > div {
    width: fit-content;
    margin-inline-start: auto;
    margin-inline-end: 0;
  }
}

#editor {
  flex: 1 0 auto;
  margin: 0;
  padding: 0;
  resize: none;
  border: none;
  outline: none;
  background: none;

  color: var(--color);
}

.editor-footer {
  display: flex;
  justify-content: flex-end;
  align-items: center;
}

#ln-col-info {
  color: var(--color);
  padding-inline: var(--padding);
  font-size: 0.75em;
}

.resizer {
  width: var(--padding);
  min-width: var(--padding);
  cursor: ew-resize;
  display: grid;
  place-items: center;

  & svg {
    stroke: var(--color);
    stroke-width: 1;
    stroke-linecap: round;
  }
}

.preview {
  --bg-color: #fff;
  width: 30%;
  min-width: 20ch;

  overflow-y: scroll;
}

.preview .slide {
  background-color: var(--bg-color);
  margin-bottom: var(--padding);
  padding-inline: var(--padding);
  overflow-x: auto;
  aspect-ratio: var(--preview-aspect-ratio, 16 / 9);
}

.preview .title-slide {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  text-align: center;
}

@media (width < 600px) {
  .editor-tab {
    min-width: 100%;
  }

  .resizer {
    cursor: default;
  }

  .resizer svg {
    display: none;
  }
}

.preview {
  & h1 {
    font-size: 2em;
    font-weight: bold;
  }
  & h2 {
    font-size: 1.5em;
    font-weight: bold;
  }
  & h3 {
    font-size: 1.17em;
    font-weight: bold;
  }
  & h4 {
    font-size: 1em;
    font-weight: bold;
  }
  & h5 {
    font-size: 0.83em;
    font-weight: bold;
  }
  & h6 {
    font-size: 0.67em;
    font-weight: bold;
  }
}
